@media only screen and (min-width: 0px) {
h1	{
    color: #ffc2d8;
  }
}

@media only screen and (min-width: 768px) {
h1	{
    color: #95b089;
  }
}

@media only screen and (min-width: 1024px) {
h1	{
    color: #ffffff;
  }
}

* {
	background-color: #4e4e42;
	color: white;
	text-align: center;
}

h1 {
	text-align: center;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

img.responsive {
  width: 100%;
  height: auto;
}

article.dashed {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 500px;
}

section{
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	align-items: center;
}

article{
	min-height: 300px;
	max-width: 500px;
	flex-basis: 1000px;
	flex-grow: 1;
	margin: 10px;
	order: 1;
}